@import url(common.css);
@import url(mobileFrame.css);
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellota:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'YdestreetB';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



html { 
	overflow-y: scroll; /* always force a scrollbar in non-IE */
	}
body {
	background: #e3e5e5;
	overflow-x: hidden;
	height: 7820px;
	line-height: 1.5;
	color: #000;
	font-size: 14px;
	font-family: Arial,sans-serif;
}
h1 {
	color: #a92121;
}
a, a:link,
a:active,
a:visited {
	-webkit-transition: color 0.25s ease-out;
	-moz-transition: color 0.25s ease-out;
	-o-transition: color 0.25s ease-out;
	transition: color 0.25s ease-out;
	/* color:#21a97e; */
	outline: none;
	text-decoration:none;
	}
	a:hover { 
		/* color:#000; */
		}
img { 
	display:block;
	}
p {
	margin:1em 0;
	}


	
/* ---------------------------------------------------------------------
                                Common shared styles
--------------------------------------------------------------------- */

hr {
	margin: 0;
	border: none;
	border-top: 1px solid #3b3b3b;
	border-bottom: 1px solid #3b3b3b;
	height: 3px;
}

/* TOP btn */
.top_btn{
	position:fixed;
    z-index:9999;
    bottom:20px;
    right:10px;
    width:35px;
    height:35px;
    border-radius:50%;   
    background:#ef6aa4;
    text-align:center;
}
.top_btn>a>i{  /*ICON FONT 설정*/
    line-height:35px;
    color:#262626;
    font-size:28px;
}

/* ---------------------------------------------------------------------
                                SCROLL
--------------------------------------------------------------------- */

/* 스크롤바 설정*/
html::-webkit-scrollbar,
#sec02-1_popup::-webkit-scrollbar,
#sec02-2_popup::-webkit-scrollbar,
.w_tab_slide ul li::-webkit-scrollbar{
	width: 6px;
}

/* 스크롤바 막대 설정*/

html::-webkit-scrollbar-thumb,
#sec02-1_popup::-webkit-scrollbar-thumb,
#sec02-2_popup::-webkit-scrollbar-thumb,
.w_tab_slide ul li::-webkit-scrollbar-thumb{
	height: 17%;
	background-color: rgb(64, 70, 70);
	border-radius: 10px;  
}

/* 스크롤바 뒷 배경 설정*/
html::-webkit-scrollbar-track,
#sec02-1_popup::-webkit-scrollbar-track,
#sec02-2_popup::-webkit-scrollbar-track,
.w_tab_slide ul li::-webkit-scrollbar-track{
	background-color: rgba(17, 27, 27, 0.24);
}








/* ---------------------------------------------------------------------
                                Content
--------------------------------------------------------------------- */




#wrapper {
	position: relative;	
}


/* #topMenu {
	width: 100%;
	background: #fff;
	}
	#topMenu h1 {
		width: 940px;
		padding: 10px 15px;
		margin: 0 auto;
		text-transform: uppercase;
		font-size: 18px;
		font-weight: bold;
		} */




/* -----------------------------
               Nav
-------------------------------- */



#sideBar {
	z-index:4;
	position: fixed;
	top: 50%;
	right: 16px;
	margin-top: -40px;
	/* background-color: gold; */


}

.nav_X{
	width: 25px;
	height: 25px;
	background: #909a9b70;
	margin-bottom: 20px;
	right: 0;
	cursor: pointer;
	border-radius: 5px;

	display: flex;
	justify-content: center;
	align-items: center;
}

nav#primary li {
	position: relative;
	height: 20px;
	margin-bottom: 30px;
	
}
nav#primary a {
/* 	display: block; */
	width: 130px;
	height: 30px;
	/* text-indent: -9999px; */
	background: #a7adae;
	text-indent: 7px;
	color:#fff;
	display: flex;
	align-items: center;
	border-radius: 5px;
}
nav#primary a:hover, nav#primary a.active {

	background: #333435;

	/* 내 최애색:#238992be; */
}
/* nav#primary h1 {
	position: absolute;
	right: 132px;
	top: -7px;
	display: none;
	padding: 4px 20px 4px 7px;;
	color: #fff;
	white-space: nowrap;
	background: transparent url('../img/nav-arrow.png') 100% 50% no-repeat;
	} */

nav.next-prev {
	margin: 0px 0px 0 0;
	}
.updown_btn{
	display: flex;
}
a.prev,
a.next {
	display: block;
	width: 30px;
	height: 30px;
	color: #a92121;
	/* text-indent: -9999px; */
	}
a.prev {
	/* margin: 0 auto 5px auto; */
	/* background: gold; */
	margin-bottom: 5px;
	}
	a.prev:hover {
		/* background: red; */
		color: #09ff00;
		}
a.next {
	/* margin: 5px auto 0 auto; */
	/* background: blue; */
	}
	a.next:hover {
		/* background: skyblue; */
		color: #09ff00;
		}








/* -----------------------------
              Parallax
-------------------------------- */





#portf_main{
	width: 100%;
	height:1090px;
	/* background-color: rgb(71, 48, 126); */
	background-color: rgb(67, 67, 67);
	position: relative;
	overflow: hidden;
}





#portf_main .test{
	width: 300px;
	font-size: 15px;
	height: 100px;
	color:blue;
	position: fixed;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 20;
}



.jinlogo{
	width:100px;
	height:100px;
	position: fixed;
	left: 20px;
	top:20px;
	z-index: 10;
}

.main_gliter{
	width:100%;
	height:1090px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: royalblue;
	background: url(../img/main_gliter.png) left no-repeat;
	z-index: 4;

}

.main_blue{
	width:100%;
	height:1090px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: royalblue;
	background: url(../img/main_blue3.png) top left no-repeat;
	z-index: 5;
}

.main_text{
	width: 70%;
	height: 30%;
	/* background-color: purple; */

	position: absolute;
	z-index: 6;
	text-align: center;
	
	left: 50%;
	top:150px;
	transform: translateX(-50%);

	color: #fff;
	font-family: 'YdestreetB';
	font-size: 45px;
}

.main_text>span{text-shadow: 0 0 10px #fff;}

.main_gold{
	width:100%;
	height:1090px;
	position: absolute;
	left: 0;
	top: 0;
	background-color: rgba(255, 217, 0, 0.411);
	background: url(../img/main_gold5.png) top left no-repeat;
	z-index: 7;
	
	
}





























/* 01~06 content position */
#content {
	z-index: 4;
	position: relative;
	max-width: 1300px;
	padding: 0 10px;
	margin: 0 auto;
	line-height: 1.7;
	}
#content h1 {
	margin: 0 0 25px 0;
	font-size: 50px;
	font-family: Georgia, serif;
	font-weight: normal;
	line-height: 50px;
	/* background-color: blue; */
	}

#sec01,#sec02,#sec03,#sec04,#sec05,#sec06{padding-top: 30px;}


#sec01 {
	position: absolute;
	top: 0px;
	}
	
#sec02 {
	position: absolute;
	top: 1090px;
	}
#sec03 {
	position: absolute;
	top: 2180px;
	}
#sec04 {
	position: absolute;
	top: 3270px;
	}
#sec05 {
		position: absolute;
		top: 4360px;
		}
#sec06 {
	position: absolute;
	top: 5450px;
	}






/* -----------------------------
          Bg- Clouds(삭제가능)
-------------------------------- */



/* foreground (ballons/landscape) */
#parallax-bg3 {
	z-index: 3;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 940px;
	margin-left: -470px; /* move left by half element's width */
	}
	/* balloon */
	#bg3-1 {
		position: absolute;
		top: -111px;
		left: 355px;
		}
	#bg3-2 {
		position: absolute;
		top: 812px;
		left: 321px;
		}
	#bg3-3 {
		position: absolute;
		top: 1628px;
		left: 403px;
		}
	#bg3-4 {
		position: absolute;
		top: 2700px;
		left: -85px;
		}
/* midground (clouds) */
#parallax-bg2 {
	z-index: 2;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg2-1 {
		position: absolute;
		top: 162px;
		left: 200px;
		}
	#bg2-2 {
		position: absolute;
		top: 300px;
		left: 1150px;
		}
	#bg2-3 {
		position: absolute;
		top: 543px;
		left: -35px;
		}
	#bg2-4 {
		position: absolute;
		top: 1180px;
		left: 250px;
		}
	#bg2-5 {
		position: absolute;
		top: 900px;
		left: 890px;
		}
/* background (clouds) */
#parallax-bg1 {
	z-index: 1;
	position: fixed;
	left: 50%; /* align left edge with center of viewport */
	top: 0;
	width: 1200px;
	margin-left: -600px; /* move left by half element's width */
	}
	#bg1-1 {
		position: absolute;
		top: 85px;
		left: -270px;
		}
	#bg1-2 {
		position: absolute;
		top: 440px;
		left: 795px;
		}
	#bg1-3 {
		position: absolute;
		top: 900px;
		left: -220px;
		}
	#bg1-4 {
		position: absolute;
		top: 1020px;
		left: 450px;
		}




















.sec02_tab{
	width: 400px;
	height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: pink; */
	margin:0 0 50px 50px;
	
	
	
}

.sec02_tab li{
	margin: 5px;
	
	border: 2px solid #a92121;
	width:180px;
	height: 40px;
	text-align: center;
	font-size: 20px;

	border-radius: 5px;
	transition: all 0.1s;
}



.sec02_tab li:hover{
	background-color:#a92121;
	color:#fff;
}

.sec02_clicked{
	background-color:#a92121;
	color:#fff;
}

.sec02_clicked2{
	background-color:transparent;
	color:#a92121;

}



.sec02_tab li a{
	width:100%;
	height:100%;
	
}







/* -----------------------------
              02-1 호버텍스트
-------------------------------- */

.graphic_list li{
	position: relative;
	/* display: flex;
	justify-content: center;
	align-items: center; */
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.graphic_list li .block1{
	width:100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  transition:all 0.2s ease-out;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	opacity: 0;
}



.graphic_list li:hover .block1{
  opacity: 1;
}



.graphic_list li .list_text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	opacity: 0;
	transition:all 0.2s ease-out;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 80%;
}


.graphic_list li:hover .list_text{
	opacity: 0.9;
}


.graphic_list li .icon{
	font-size: 40px; 
	padding-bottom: 0;
}
.graphic_list li .list_content{font-size: 14px;}
.graphic_list li .list_title{font-size: 21px;font-weight: bold;}








/* -----------------------------
              02-1
-------------------------------- */
.graphic{
	width: 1300px;
	height: auto;
	/* background-color: #fff; */
}
.graphic_list{ 
	margin:0 auto; 
	width:1200px;  
	box-sizing:border-box;
	/* background-color: yellow; */
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: repeat(3,1fr);
	/* grid-gap:20px; */
}
.graphic_list li{
	
	width:220px; 
	height:220px; 
	margin-bottom: 20px;
	background:orange;
	border-radius: 5px;
	overflow: hidden;
}

.graphic_list li:nth-child(4){
	grid-column: span 2;
	grid-row:span 2;
	width: 460px;
	height: 460px;
}
.graphic_list li a{
	font-size:30px;
	font-weight:bold;
	color:#fff;
	width: 100%;
	height: 100%;
	
}

.graphic_list li a img{
	width: 100%;
	height: 100%;
	
}




/* POPUP BOX ---------------------*/

#sec02-1_popup{ /*검정배경*/
	display:none; 
	position:fixed; 
	left:0; 
	top:0;
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0.85); 
	z-index:1000;
	overflow-y:scroll;
	
	/*auto로 하면 스크롤바의 폭때문에 콘텐츠와 버튼사이의 간격이 생김->버튼위치맞춤*/
}

/*각 목록별 나오는 모달팝업 내용 나오는 부분*/

.sec02-1_pop_body{   /*팝업내용박스*/
	position:relative;
	height:100%;	
	margin:0 auto;
	width:1200px;
	background:#fff;
	z-index:10000;
}
.sec02-1_pop>li{
	width:1200px;
	position:absolute;
	text-align:center;
	background:#fff;
	display:none;
}
.sec02-1_pop>li img{
	width: 100%;
}

/*버튼영역*/ 
.m_btn{
	position:fixed;
	left:50%;
	top:0px;
	margin-left:597px;
	width:80px;
	height:150px;
	color:#fff;
	text-align:center;
	overflow:hidden;
	z-index:10000;
}
.m_btn>li{
	cursor:pointer;
	overflow:hidden;
	background:#af7d7d00;
}
.m_btn>li:not(:last-child):hover{color:#21a97e}

 /*닫기버튼*/
.m_btn .btn_close{
	height:70px;
	width:80px;
	cursor:pointer;
	border-bottom:1px solid #ffffff4e;
}
.m_btn .btn_close i{  /*아이콘폰트*/
	position:relative;
	top:15px;
	font-size:40px;
}

/*다음이전 버튼*/

.m_btn .left_btn, .m_btn .right_btn{float:left;}

.m_btn .left_btn i,.m_btn .right_btn i{ 
	position:relative;
	top:10px;
	font-size:30px;	
	width:40px;
	height:50px;	
}

.m_btn .g_page{  /*Page번호*/
	font-size:12px;
	color:#fff;
	width:80px;
	padding-top:10px;
	height:50px;
	text-align:center;
}
























/* -----------------------------
              02-2 호버 텍스트
-------------------------------- */



.uiux_list li{
	position: relative;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.uiux_list li .block1{
	width:100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  transition:all 0.2s ease-out;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	opacity: 0;
}



.uiux_list li:hover .block1{
  opacity: 1;
}



.uiux_list li .list_text{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	z-index: 2;
	opacity: 0;
	transition:3 ease-out;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 90%;
}


.uiux_list li:hover .list_text{
	opacity: 0.9;
}


.uiux_list li .icon{
	font-size: 40px; 
	padding-bottom: 0;
}
.uiux_list li .list_content{font-size: 14px;}
.uiux_list li .list_title{font-size: 21px;font-weight: bold;}





/* -----------------------------
              02-2
-------------------------------- */
.uiux{
	width: 1300px;
	height: auto;
	/* background-color: purple; */
}
.uiux_list{ 
	margin:0 auto; 
	width:1200px;  
	box-sizing:border-box;
	/* background-color: yellow; */
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: repeat(3,1fr);
	grid-gap:10px;
}
.uiux_list li{
	float:left; 
	width:220px; 
	height:220px; 
	background:rgb(62, 165, 50);
	border-radius: 5px;
	overflow: hidden;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.uiux_list li:nth-child(8), .uiux_list li:nth-child(7){
	width:460px; 
	height:450px; 
	grid-row: span 2;
	grid-column: span 2;

}


.uiux_list li a{
	font-size:30px;
	font-weight:bold;
	color:#fff;
}

.uiux_list li a img{
	width: 100%;
	height: 100%;
	
}

/* POPUP BOX ---------------------*/

#sec02-2_popup{ /*검정배경*/
	display:none; 
	position:fixed; 
	left:0; 
	top:0;
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0.85); 
	z-index:1000;
	overflow-y:scroll;
	
	/*auto로 하면 스크롤바의 폭때문에 콘텐츠와 버튼사이의 간격이 생김->버튼위치맞춤*/
}

/*각 목록별 나오는 모달팝업 내용 나오는 부분*/

.sec02-2_pop_body{   /*팝업내용박스*/
	position:relative;
	height:100%;	
	margin:0 auto;
	width:1100px;
	background:#fff;
	z-index:10000;
}
.sec02-2_pop>li{
	width:1100px;
	position:absolute;
	text-align:center;
	background:#fff;
	display:none;
}
.sec02-2_pop>li img{
	width: 100%;
}

/*버튼영역*/ 
.m_btn2{
	position:fixed;
	left:50%;
	top:0px;
	margin-left:547px;
	width:80px;
	height:150px;
	color:#fff;
	text-align:center;
	overflow:hidden;
	z-index:10000;
}
.m_btn2>li{
	cursor:pointer;
	overflow:hidden;
	background:#af7d7d00;
}
.m_btn2>li:not(:last-child):hover{color:#21a97e}

 /*닫기버튼*/
.m_btn2 .btn_close2{
	height:70px;
	width:80px;
	cursor:pointer;
	border-bottom:1px solid #ffffff4e;
}
.m_btn2 .btn_close2 i{  /*아이콘폰트*/
	position:relative;
	top:15px;
	font-size:40px;
}

/*다음이전 버튼*/

.m_btn2 .left_btn2, .m_btn2 .right_btn2{float:left;}

.m_btn2 .left_btn2 i,.m_btn2 .right_btn2 i{ 
	position:relative;
	top:10px;
	font-size:30px;	
	width:40px;
	height:50px;	
}

.m_btn2 .g_page2{  /*Page번호*/
	font-size:12px;
	color:#fff;
	width:80px;
	padding-top:10px;
	height:50px;
	text-align:center;
}















/* -----------------------------
              03
-------------------------------- */

#sec03_content{
	width: 1300px;
	height: 85vh;
	/* background-color: gold; */
	position: relative;
}





#uiux7 {
	width: 1300px;
	height: 100%;
  /* background: rgb(243, 158, 158); */
	position: absolute;
	
}

.sec03_notice{
	position: absolute;
	z-index: 50;
	color:rgba(218, 218, 218, 0.541);
	font-size: 11px;
	left: 7px;
	bottom: 5px;
}

.w_bg {
  /*왼쪽배경이미지 영역*/
  position: absolute;
  top: 0;
  left: 0;
  width: 1300px;
  height: 100%;
  overflow: hidden;
	border-radius: 10px;
}

.w_bg ul {
  width: 3900px;
  /*슬라이드가로 총길이(700*10=7000)*/
  height: inherit;
  position: relative;
  top: 0;
  left: 0;
}

.w_bg ul li {
  float: left;
  width: 1300px;
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  /*영역에 꽉차게*/
  /* opacity: 0.8; */
}

.w_bg ul li:nth-child(1) {
  background-image: url(../img/w_bg_01.jpg);
}

.w_bg ul li:nth-child(2) {
  background-image: url(../img/w_bg_02.jpg);
}

.w_bg ul li:nth-child(3) {
  background-image: url(../img/w_bg_03.png);
}



/*텍스트와 디자인화면 전체영역*/
.webd_in {
  position: absolute;
  top: 0;
  left: 0px;
  width: 300px;
  height: 100%;
	display: flex;
	/* justify-content: space-between; */

  /* background:pink; */
}

/*제목&제목바 영역*/
.w_txt {
  width: 300px;
  height: 500px;
	/* background-color: blue; */
}







/*___________01~03 숫자 */

.w_slide_btn{
	position:relative;
	height:100px;
	padding-top:5px;
	display: flex;
	align-items: center;
	/* background-color: royalblue; */
}

.w_slide_btn i{  /*화살표 아이콘폰트*/
	display: flex;
	justify-content: right;
	align-items: center;
	float:left;
	width:40px;
	height:100px;
	font-size:40px;

	line-height:25px;
	color:#fff;
	text-shadow: 0 0 5px #fff;
	/* background-color: royalblue; */
	
	opacity:0;
	transition:all 0.5s;
}
.w_slide_btn i.active{opacity: 1;}  /*jQuery에서 불러냄*/

.w_list{
  width:300px;
  height:70px;
  display: flex;
	/* background-color: gold; */	
	justify-content: space-between;
}
.w_list li{
  float:left;
  font-size: 45px;
  font-weight:700;
  padding:0 0;
  color:rgba(92, 92, 92, 0.549);
  cursor:pointer;
	width: 50px;
	height: 60px;
	/* background-color: red; */
	text-align: center;
}
.w_list li.btn_active{
	color:#fff;
	text-shadow: 0 0 5px #ffffff;
}

.w_list li:nth-child(3){
	border-bottom:5px solid #5c5c5c8c;
	
}


/*___________설명텍스트 영역*/

.w_txt_slide{
  width:300px;
  height:700px;
  position:relative;    
  overflow:hidden;
	margin-left: 50px;
  /* background: green; */
}

.w_txt_slide ul{
  width:900px;  /*슬라이드 총가로폭(300*3=900)*/
  height:inherit;
  position:absolute;
  top:0;
  left:0;
}

.w_txt_slide ul li{
  float:left;
  width:300px;
  height:300px;
  color:#fff;
}

.sec03_logo{
	width: 100px;
	height:40px;
	margin-top: 30px;
	opacity: 0.8;
	/* background-color: rgb(161, 221, 63); */
}

.sec03_logo img{height: 100%;}







.graph{
	margin-left: 0;
}

.graph .b1{   /*가장바깥 둥근테두리*/
	width:200px;
	height:20px;
	overflow:hidden;
	border:1px solid rgb(90, 90, 90);
	border-radius:10px;
	text-align: center;
	position: relative;
	transition:all 0.3s;
}

.graph .b21{ /*배경 막대*/
	width:100%;
	height:20px;
	background:rgb(24, 24, 24); 
	border-radius:20px;
  transition:all 0.3s;
}
.graph .b31{  /*개별 막대*/
	width:0;
	height:20px;
	background:#6c0794;
	border-radius:10px;
  transition:all 0.3s;
}
.w_txt_slide ul li:nth-child(2) .graph .b31{background:#5a5a5a;}
.w_txt_slide ul li:nth-child(3) .graph .b31{background:#553b22;}



.personal{
	position: absolute; 
	width: 100%;
	text-align: center;
	color: rgb(90, 90, 90);
	transition:all 0.3s;
}


#sec03:hover .b1{border:1px solid rgb(175, 175, 175);}
#sec03:hover .b31{width:100%;}
#sec03:hover .personal{color:rgb(214, 214, 214);}


















.ptitle1{
  font-size:40px;
  font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
  color:#ececec;
	margin: 0;
}

.sec03_left{
	display: inline-block;
	background-color: rgb(56, 56, 56);
	border-radius: 5px;
	width: 80px;
	height: 25px;
	text-align: center;
	font-size: 12px;
	padding-top: 4px;
	margin-bottom: 10px;
}
.w_txt_slide ul li:nth-child(2) .sec03_left{background:#1b1b1b;}
.w_txt_slide ul li:nth-child(3) .sec03_left{background:#42220f;}


.sec03_right{
	display: inline-block;
	width: 200px;
	height: 25px;
	font-size: 14px;
	margin-left: 10px;
}
.sec03_right span{
	/* background-color: red; */
	margin-right: 13px;
}

.ptitle{
  font-size:28px;
  font-family: 'Raleway', sans-serif;
  color:#ececec;
}

.pnotice{
  font-size:13px;
  font-family: 'Raleway', sans-serif;
  color:#fff;
	margin-top: 130px;
}

.pnotice span{color:#09ff00;font-size: 15px;margin-right:3px;}

/* .w_txt_slide ul li:nth-child(2) .pnotice span{color:#086896;}

.w_txt_slide ul li:nth-child(3) .pnotice span{color:#635181;} */








.ptext{
  font-size:16px;
  font-family: 'Raleway', sans-serif;
  color:#fff;
}

/*Detail 버튼*/
.w_txt_slide ul li .sec03_btn, .w_txt_slide ul li .pub_link{ 
  display:block;
  width:200px;
  height:28px;
  font-weight:700;
  line-height:28px;
  text-align:center;
  background:#fff;
  color:#635181;
  margin-top:15px;
  border-radius:3px;
  cursor:pointer;
}
.w_txt_slide ul li .sec03_btn:hover, .w_txt_slide ul li .pub_link:hover{
  background:#6c0794;
  color:#fff;
  font-weight:700;
}

.w_txt_slide ul li:nth-child(2) .sec03_btn,
.w_txt_slide ul li:nth-child(2) .pub_link{color:#086896;}
.w_txt_slide ul li:nth-child(2) .sec03_btn:hover,
.w_txt_slide ul li:nth-child(2) .pub_link:hover{background:#086896;color:#fff;}
.w_txt_slide ul li:nth-child(3) .sec03_btn,
.w_txt_slide ul li:nth-child(3) .pub_link{color:#42220f;}
.w_txt_slide ul li:nth-child(3) .sec03_btn:hover,
.w_txt_slide ul li:nth-child(3) .pub_link:hover{background:#42220f;color:#fff;}


/*___________오른쪽 화면디자인 영역*/

.w_tab{
  position:relative;
  width:917px;
  height:675px;
	margin: 60px 0 0 80px;
	/* background-color: pink; */
}




/*태블릿*/
.w_tablet{  
  position:relative;
  width:917px;
  height:675px;
  z-index:100;
  background:url(../img/tab.png);
}

/*태블릿 그림자*/
.w_shadow{  
  position:absolute;
  top:30px;
  left:20px;
  width:850px;
  height:600px;
  border-radius:50px;
  box-shadow:20px 30px 20px rgba(0,0,0,0.3);
  z-index:0;
}

/*보여지는 영역*/   
.w_tab_slide{ 
  width:794px;
  height:555px;
  position:absolute;
  top:57px;
  left:48px;
  z-index:200; 
  overflow:hidden;
  border-radius:15px;
}

.w_tab_slide ul{
  width:7940px;  /*슬라이드 전체 가로폭(794*10=7940)*/
  height:auto;
  z-index:200;
  position:relative;
}
.w_tab_slide ul li{
  float:left;
  width:794px;
  height:553px;
  transition:background-position 1s;
  background-position:0 0;
  background-size:100% auto;
  background-repeat:no-repeat;



	overflow-y: scroll;
}





 .w_tab_slide ul li img{
	width: 100%;
	
 }






/*___________모달창 영역*/

#w_popup{
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1000;
	overflow:auto;
}
.w_pop_body{
	position:relative;
	height:100%;
	margin:0 auto;
	width:1200px;
	background:#fff;
	z-index:1000;
}
.w_back{ /*메뉴 뒤로 나오는 검정배경*/
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
}
.w_pop>li{
	width: 1200px;
	position: absolute;
/* 	text-align: center; */
	cursor: default;
	background: #fff;
	display: none;
}

.w_pop>li p img{
	width: 100%;
	height: 100%;
}

/*버튼영역*/
.w_btn{
	position:fixed;
	left:50%;
	top:0;
	margin-left:595px;
	width:80px;
	height:150px;
	color:rgba(255, 255, 255,0.9);
	text-align:center;
	overflow:hidden;
	z-index:10000;


}



.w_btn>li{
	cursor: pointer;
	overflow: hidden;
}


.w_btn li:not(:nth-child(4)):hover{
	color:#09ff00;
}

.w_btn .w_btn_close{ /*닫기버튼*/
	height:70px;
	width:80px;
	cursor:pointer;
}
.w_btn .w_btn_close i{ /*아이콘폰트*/
	position:relative;
	top:15px;
	font-size:40px;
}
.w_btn .left_btn, .w_btn .right_btn{float:left;}
.w_btn .left_btn i, .w_btn .right_btn i{
	position:relative;
	top:10px;
	font-size:30px;
	width:40px;
	height:50px;
}
.w_btn .w_page{ 
	font-size:12px;
	color:#fff;
	width:80px;
	padding-top:10px;
	height:50px;
	text-align:center;
    border-top:1px solid #fff;
}































/* -----------------------------
              04 
-------------------------------- */

#sec04_content{
	width: 1300px;
	height: 85vh;
	/* background-color: gold; */
	position: relative;
}





#sec04_content_in {/*  이거 지금 위치 불확실*/
	width: 1300px;
	height: 100%;
  /* background: rgb(243, 158, 158); */  
	position: absolute;
	
}

.sec04_notice_04{
	position: absolute;
	z-index: 50;
	color:rgb(45, 45, 45);
	font-size: 11px;
	left: 7px;
	bottom: 5px;
}

.w_bg_04{
  position: absolute;
  top: 0;
  left: 0;
  width: 1300px;
  height: 100%;
  overflow: hidden;
	border-radius: 10px;
	background: url(../img/w_bg_03.jpg) 0 0 no-repeat;
}




/*텍스트와 디자인화면 전체영역*/
.webd_in_04 {
  position: absolute;
  top: 0;
  left: 0px;
  width: 300px;
  height: 100%;
	display: flex;
  /* background:pink; */
}

/*제목&제목바 영역*/
.w_txt {
  width: 300px;
  height: 500px;
	/* background-color: blue; */
}






/*___________01~03 숫자 */

.w_slide_btn_04{
	position:relative;
	height:100px;
	padding-top:5px;
	/* opacity: 0; */
	align-items: center;
	/* background-color: royalblue; */
}




/*___________설명텍스트 영역*/

.w_txt_slide_04{
  width:300px;
  height:700px;
  position:relative;    
  overflow:hidden;
	margin-left: 50px;
  /* background: green; */
	color:rgb(39, 39, 39);
}

.w_txt_slide_04 ul{
  width:300px;
  height:inherit;
  position:absolute;
  top:0;
  left:0;
	
}

.w_txt_slide_04 ul li{
  float:left;
  width:300px;
  height:300px;
  color:#fff;
}

.sec04_logo{
	width: 100px;
	height:40px;
	margin-top: 30px;
	opacity: 1;
	/* background-color: rgb(161, 221, 63); */
}

.sec04_logo img{height: 100%;}


.ptitle1_04{
  font-size:40px;
  font-family: 'Raleway', sans-serif;
	font-weight: 900;
	text-transform: uppercase;
  color:#1c1c1c;
	margin: 0;
}




.graph_04{
	margin-left: 0;
}

.graph_04 .b1{   /*가장바깥 둥근테두리*/
	width:200px;
	height:20px;
	overflow:hidden;
	border:1px solid rgb(90, 90, 90);
	border-radius:10px;
	text-align: center;
	position: relative;
	transition:all 0.3s;
}

.graph_04 .b21{ /*배경 막대*/
	width:100%;
	height:20px;
	background:rgb(74, 74, 74); 
	border-radius:20px;
  transition:all 0.3s;
}
.graph_04 .b31{  /*개별 막대*/
	width:0;
	height:20px;
	background:#f2f2f2;
	border-radius:10px;
  transition:all 0.3s;
}



.personal_04{
	position: absolute; 
	width: 100%;
	text-align: center;
	color: rgb(22, 22, 22);
	transition:all 0.3s;
}


#sec04:hover .b1{border:1px solid rgb(175, 175, 175);}
#sec04:hover .b31{width:100%;}
#sec04:hover .personal{color:rgb(214, 214, 214);}




















.sec04_left{
	display: inline-block;
	background-color: rgb(56, 56, 56);
	border-radius: 5px;
	width: 80px;
	height: 25px;
	text-align: center;
	font-size: 12px;
	padding-top: 4px;
	margin-bottom: 10px;
}



.sec04_right{
	display: inline-block;
	width: 200px;
	height: 25px;
	font-size: 14px;
	margin-left: 10px;
	color:rgb(39, 39, 39);
}
.sec04_right span{
	/* background-color: red; */
	margin-right: 13px;

}



.pnotice4{
  font-size:13px;
  /* font-family: 'Raleway', sans-serif; */
  color:rgb(39, 39, 39);
	font-weight: bold;
	margin-bottom: 8px;
}

.pnotice_04{margin: 140px 0 20px 0}


.pnotice4 span{color:#2bfb23;font-size: 15px;margin-right:3px;font-weight: bold;}









/*Detail 버튼*/
.w_txt_slide_04 ul li .sec04_btn{ 
  display:block;
  width:200px;
  height:28px;
  font-weight:700;
  line-height:28px;
  text-align:center;
  background:#fff;
  color:#2d2d2d;
  margin-top:15px;
  border-radius:3px;
  cursor:pointer;
	transition: all 0.1s;
}





.responsiveBtn{
	width: 200px;
	height: 95px;
	/* background-color: gold; */
	display: flex;
	justify-content: space-between;
}

.sec04_btn1,.sec04_btn2,.sec04_btn3{ 
 
  width:60px;
  height:60px;
  font-weight:700;

  text-align:center;
  background:#fff; 
  color:#2d2d2d;

  margin-top:15px;
  border-radius:3px;
  cursor:pointer;
	line-height: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec04_btn1:hover{background:#3c8fff;}
.sec04_btn2:hover{background:#f1528e;}
.sec04_btn3:hover{background:#2cdaa7;}


.w_txt_slide_04 ul li .sec04_btn:hover/* , .w_txt_slide_04 ul li .pub_link:hover */{
  background-color: rgb(56, 56, 56);
  color:#fff;
}






/*___________오른쪽 화면디자인 영역*/

.w_tab_04{
  position:absolute;
  width:1000px;
  height:675px;
	margin: 60px 0 0 80px;
	/* background-color: rosybrown; */
	background: url(../img/sec04.png) no-repeat center center;
	background-size: 100% 100%;
	right: 20px;
	top:0px;
}









/*___________모달창 영역*/

#w_popup_04{
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1000;
	overflow:auto;
}
.w_pop_body_04{
	position:relative;
	height:100%;
	margin:0 auto;
	width:1200px;
	background:#fff;
	z-index:1000;
}
.w_back_04{ /*메뉴 뒤로 나오는 검정배경*/
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
}
.w_pop_04>li{
	width: 1200px;
	position: absolute;
/* 	text-align: center; */
	cursor: default;
	background: #fff;
	display: none;
}

.w_pop_04>li p img{
	width: 100%;
	height: 100%;
}

/*버튼영역*/
.w_btn_04{
	position:fixed;
	left:50%;
	top:0;
	margin-left:595px;
	width:80px;
	height:150px;
	color:rgba(255, 255, 255,0.9);
	text-align:center;
	overflow:hidden;
	z-index:10000;


}



.w_btn_04>li{
	cursor: pointer;
	overflow: hidden;
}


.w_btn_04 li:not(:nth-child(4)):hover{
	color:#09ff00;
}

.w_btn_04 .w_btn_close_04{ /*닫기버튼*/
	height:70px;
	width:80px;
	cursor:pointer;
}
.w_btn_04 .w_btn_close_04 i{ /*아이콘폰트*/
	position:relative;
	top:15px;
	font-size:40px;
}
.w_btn_04 .left_btn, .w_btn_04 .right_btn{float:left;}
.w_btn_04 .left_btn i, .w_btn_04 .right_btn i{
	position:relative;
	top:10px;
	font-size:30px;
	width:40px;
	height:50px;
}














/* -----------------------------
              05 
-------------------------------- */


#sec05_content{
	width: 1300px;
	height: 85vh;
	/* background-color: gold; */
	position: relative;
}





#sec05_content_in {
	width: 1300px;
	height: 100%;
  /* background: rgb(243, 158, 158); */
	position: absolute;
	overflow: hidden;
	
}

.sec05_notice_05{
	position: absolute;
	z-index: 50;
	color:rgba(231, 231, 231, 0.63);
	font-size: 11px;
	left: 7px;
	bottom: 5px;
}

.w_bg_05{
  position: absolute;
  top: 0;
  left: 0;
  width: 1300px;
  height: 100%;
  overflow: hidden;
	border-radius: 10px;
	background: url(../img/w_bg_07.gif) left bottom no-repeat;
	background-size: 100% 101%;
}




/*텍스트와 디자인화면 전체영역*/
.webd_in_05 {
  position: absolute;
  top: 0;
  left: 0px;
  width: 300px;
  height: 100%;
	display: flex;
  /* background:pink; */
}

/*제목&제목바 영역*/
.w_txt {
  width: 300px;
  height: 500px;
	/* background-color: blue; */
}






/*___________01~03 숫자 */




.w_list{
  width:300px;
  height:70px;
  display: flex;
	/* background-color: gold;	 */
	justify-content: space-between;
}




/*___________설명텍스트 영역*/

.w_txt_slide_05{
  width:300px;
  height:650px;
  position:relative;    
  overflow:hidden;
	margin: 105px 0 0 50px;

  /* background: green; */
	color:rgb(213, 213, 213);
}

.w_txt_slide_05 ul{
  width:300px;
  height:inherit;
  position:absolute;
  top:0;
  left:0;
	
}

.w_txt_slide_05 ul li{
  float:left;
  width:300px;
  height:300px;
  color:#fff;
}

.sec05_logo{
	width: 100px;
	height:40px;
	margin-top: 30px;
	opacity: 1;
	/* background-color: rgb(161, 221, 63); */
}

.sec05_logo img{height: 100%;}


.ptitle1_05{
  font-size:40px;
  font-family: 'Raleway', sans-serif;
	font-weight: 900;
	/* text-transform: uppercase; */
  color:#ececec;
	margin: 0;
}




.graph_05{
	margin-left: 0;
}

.graph_05 .b1{   /*가장바깥 둥근테두리*/
	width:200px;
	height:20px;
	overflow:hidden;
	border:1px solid rgb(167, 167, 167);
	border-radius:10px;
	text-align: center;
	position: relative;
	transition:all 0.3s;
}

.graph_05 .b21{ /*배경 막대*/
	width:100%;
	height:20px;
	background:rgba(74, 74, 74, 0.475); 
	border-radius:20px;
  transition:all 0.3s;
}
.graph_05 .b31{  /*개별 막대*/
	width:0;
	height:20px;
	background:#f2f2f240;
	border-radius:10px;
  transition:all 0.3s;
}



.personal_05{
	position: absolute; 
	width: 100%;
	text-align: center;
	color: rgb(204, 204, 204);
	transition:all 0.3s;
}


#sec05:hover .b1{border:1px solid rgb(175, 175, 175);}
#sec05:hover .b31{width:100%;}
#sec05:hover .personal{color:rgb(214, 214, 214);}




















.sec05_left{
	display: inline-block;
	background-color: rgba(220, 220, 220, 0.374);
	border-radius: 5px;
	width: 80px;
	height: 25px;
	text-align: center;
	font-size: 12px;
	padding-top: 4px;
	margin-bottom: 10px;
}



.sec05_right{
	display: inline-block;
	width: 200px;
	height: 25px;
	font-size: 14px;
	margin-left: 10px;
	color:rgb(216, 216, 216);
}
.sec05_right span{
	/* background-color: red; */
	margin-right: 13px;

}



.pnotice4_05{
  font-size:13px;
  /* font-family: 'Raleway', sans-serif; */
  color:rgb(218, 218, 218);
	font-weight: bold;
	margin-bottom: 8px;
}

.pnotice_05{margin: 140px 0 20px 0}


.pnotice4_05 span{color:#2bfb23;font-size: 15px;margin-right:3px;font-weight: bold;}









/*Detail 버튼*/
.w_txt_slide_05 ul li .sec05_btn{ 
  display:block;
  width:200px;
  height:28px;
  font-weight:700;
  line-height:28px;
  text-align:center;
  background-color: rgba(220, 220, 220, 0.486);
  color:#171717;
  margin-top:15px;
  border-radius:3px;
  cursor:pointer;
	transition: all 0.1s;
}





.responsiveBtn{
	width: 200px;
	height: 95px;
	/* background-color: gold; */
	display: flex;
	justify-content: space-between;
}

.sec05_btn1{ 
	width:200px;
  height:28px;
  font-weight:700;

  text-align:center;
  background-color: rgba(220, 220, 220, 0.486);
  color:#2d2d2d;

  margin-top:15px;
  border-radius:3px;
  cursor:pointer;
	line-height: 17px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.w_txt_slide_05 ul li .sec05_btn:hover, .sec05_btn1:hover{background:#f6f6f6;}








/*___________오른쪽 화면디자인 영역*/

.w_tab_05{
  position:absolute;
  width:470px;
  height:100%;
	margin: 60px 0 0 80px;
	/* background-color: rosybrown; */
 	background: url(../img/sec05_3.png) no-repeat top right;
	background-size:85%; 
	right: 0; 
	top:0;
}









/*___________모달창 영역*/

#w_popup_05{
	display:none;
	position:fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	z-index:1000;
	overflow:auto;
}
.w_pop_body_05{
	position:relative;
	height:100%;
	margin:0 auto;
	width:1200px;
	background:#fff;
	z-index:1000;
}
.w_back_05{ /*메뉴 뒤로 나오는 검정배경*/
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.9);
}
.w_pop_05>li{
	width: 1200px;
	position: absolute;
/* 	text-align: center; */
	cursor: default;
	background: #fff;
	display: none;
}

.w_pop_05>li p img{
	width: 100%;
	height: 100%;
}

/*버튼영역*/
.w_btn_05{
	position:fixed;
	left:50%;
	top:0;
	margin-left:595px;
	width:80px;
	height:150px;
	color:rgba(255, 255, 255,0.9);
	text-align:center;
	overflow:hidden;
	z-index:10000;


}



.w_btn_05>li{
	cursor: pointer;
	overflow: hidden;
}


.w_btn_05 li:not(:nth-child(4)):hover{
	color:#09ff00;
}

.w_btn_05 .w_btn_close_05{ /*닫기버튼*/
	height:70px;
	width:80px;
	cursor:pointer;
}
.w_btn_05 .w_btn_close_05 i{ /*아이콘폰트*/
	position:relative;
	top:15px;
	font-size:40px;
}
.w_btn_05 .left_btn, .w_btn_05 .right_btn{float:left;}
.w_btn_05 .left_btn i, .w_btn_05 .right_btn i{
	position:relative;
	top:10px;
	font-size:30px;
	width:40px;
	height:50px;
}













/* 000000000000000000000000000000000000000000000000000000000000000
목업

00000000000000000000000000000
00000000000000000000000 */



.sec05_pop{/* 검정배경 */
  display: none;
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.9);
  z-index: 99999;
  overflow: auto;
	/* display: flex;
	justify-content: center;
	align-items: center; */
}



.close{
  position: fixed;
  right: 30px;
  top:30px;
  color:#ffffffa0;
}


.c3{ /* 모바일 폰 전체 */
	height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  position: relative;
}




iframe{border: none;} /* 아이프레임 기본테두리 없애기 */















/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&- */



/* -----------------------------
              06 (수정중)
-------------------------------- */

#sec06_content{
	width: 1300px;
	height: 85vh;
	/* background-color: skyblue; */
	display: flex;
	justify-content: center;
	align-items: center;

}

.sec06_content_in{
	width: 97%;
	height: 95%;
	/* background-color: royalblue; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.sec06_square{
	width: 30%;
	height: inherit;
	/* background-color: #21a97e; */
	position: relative;
  
}




/* &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&- */

/* 여기서부터 SCSS긁은거 */

.plan {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  /* background: #FFFFFF; */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
	border-radius: 10px;


  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.square1{
	background: url(../img/sec06_5.png) center center no-repeat;
	background-size: 100% 100%;
}

.plan__content {
  position: relative;
  height: 100%;
}

.talk_bubble{
	margin: 10px auto;
	width: 60%;
	height: 140px;
	background: url(../img/talk.png) center center no-repeat;
	background-size: 100% 100%;
	padding-top: 10px;
	/* background-color: gold; */	
	transition: all 0.2s;
}

.plan:hover .talk_bubble{
	background: url(../img/talk_original.png) center center no-repeat;
	background-size: 100% 100%;
}

.sec06_logo{

	width: 100px;
	height: 70px;

	margin: 0 auto 3px;
}

.sec06_logo img{margin:0 auto;height: 100%;}


.plan__heading {
  font-size: 20px;

  color: #ff8915;
	text-align: center;
	font-family: 'Raleway';
	
}



/* ㅌㅔㅅㅡㅌㅡ  */
.sec06_plan_steps{
  margin:0 auto;
  display:block;
  width:100%; 
  /* max-width:270px; */
  position:relative;
  font-family:Sans-serif;
  /* background-color: purple; */


  height: 38%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0 270px;
  
}






.sec06_plan_steps li:not(:last-child){
  height:36px;
  
  font-size:18px;
  margin-left: 70px;
  color:rgb(36, 36, 36); 
  z-index:4;
  position:relative;
  padding:10px;
  
}

.sec06_plan_steps li{
  width:80%;
  /* height:50px; */
  background-color:transparent;
  border-radius:10px;
  letter-spacing:-1px;
  cursor: pointer;
  font-weight:700;

}
.sec06_plan_steps li span{
	font-size: 25px; 
	font-weight: bold;
	color: #ff8915;
}




.hovers{
  position:absolute;
  top:0;
  width:80%;
  height:50px;
  background-color:#b95b5b;
  border-radius:10px;
  /* border:2px solid #b95b5b; */
  z-index:1;
  cursor: pointer;
  transition:0.2s;
}



.element1:hover ~ .hovers{
  background-color:#b8a594;
  border:2px solid #b8a594;
  transform:translateY(0%);
  
}
.element2:hover ~ .hovers{
  background-color:#dc985b;
  border:2px solid #dc985b;
   transform:translateY(100%);
}
.element3:hover ~ .hovers{
  background-color:#d87200;
  border:2px solid #d87200;
   transform:translateY(200%);
}







/* 06 pop박스 */

#popup_06{ /*검정배경*/
	display:none; 
	position:fixed; 
	left:0; 
	top:0;
	width:100%; 
	height:100%; 
	background:rgba(0,0,0,0.8); 
	z-index:1000;
	overflow-y:scroll; 
}

/*각 목록별 나오는 모달팝업 내용 나오는 부분*/

.pop_body_06{   /*팝업내용박스*/
	position:relative;
	height:100%;	
	margin:0 auto;
	width:1200px;
	/* background:rgb(240, 164, 164); */
	z-index:10000;
}
.pop_06>li{
	width:1200px;
	height: 100%;
	position:absolute;
	text-align:center;
	/* background:rgb(136, 141, 60); */
	display:none;
}

.sec06_popup_li{
	width: 100%;
	height: 100%;
	/* background-color: royalblue; */
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.sec06_popup_title{
	width: 500px;
	height: 90px;
	/* background-color: #fff; */
	color:#fff;
	margin: 0 auto;
	font-size: 35px;
	font-weight: bold;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sec06_popup_img{
	width: 100%;
	height: 840px;
	/* background-color: pink; */
	
	background-size: 100% 100%;
}
.sec06_bg1{
	background: url(../img/paw_wire.png) 0 0 no-repeat;
	background-size: 100% 100%;
}
.sec06_bg2{
	background: url(../img/paw_icon.png) 0 0 no-repeat;
	background-size: 100% 100%;
}





/* 06ㅁㅗㄷㅏㄹ ㄴㅐㅂㅜ- ㄱㅐㄹㄹㅓㄹㅣ */

#gallery{ 
	width:1200px;
	height:100%;
	background:rgb(155, 20, 20);
	position:relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.largeImg{
	width: 70%;
	height: 70%;
}
.largeImg li{
	display:none;
	 position:absolute;
	 left: 50%;
	 transform: translateX(-50%);
	/*top:21px;
	left:28px; */
	/* margin: 0 auto; */
}
.largeImg li:first-child{display:block;}

.thumbs{
	/* position:absolute;
	top:30px;	
	left:80px;	 */
	margin-bottom: 30px;
}
.thumbs li{
	float:left;
	margin-right:10px;
	opacity:0.3;
}
.thumbs li:first-child{opacity:1;}
.thumbs li a img{
	width:75px;
	height:57px;
}

.gal06_left_btn{
	position:absolute;
	left:0;
	top:340px;
}
.gal06_right_btn{
	position:absolute;
	right:0;
	top:340px;
}


/*이미지별 텍스트*/

/* .imgText li{
	display:none;
	position:absolute;
	bottom:50px;
	left:50px;
}
.imgText li:first-child{display:block;}

.imgText li strong{
	color:#fff;
	font-size:55px;
}
 */




/*버튼영역*/ 
.m_btn_06{
	position:fixed;
	left:50%;
	top:0px;
	margin-left:600px;
	width:80px;
	height:150px;
	color:rgb(170, 170, 170);
	text-align:center;
	overflow:hidden;
	z-index:10000;
}
.m_btn_06>li{
	cursor:pointer;
	overflow:hidden;
	background:transparent;
}
.m_btn_06>li:not(:last-child):hover{background:rgba(0, 0, 0, 0.13); color:#09ff00}

 /*닫기버튼*/
.m_btn_06 .btn_close_06{
	height:70px;
	width:80px;
	cursor:pointer;
	border-bottom:1px solid #ffffff2c;
}
.m_btn_06 .btn_close_06 i{  /*아이콘폰트*/
	position:relative;
	top:15px;
	font-size:40px;
}

/*다음이전 버튼*/

.m_btn_06 .left_btn_06, .m_btn_06 .right_btn_06{float:left;}

.m_btn_06 .left_btn_06 i,.m_btn_06 .right_btn_06 i{ 
	position:relative;
	top:10px;
	font-size:30px;	
	width:40px;
	height:50px;	
}

.m_btn_06 .g_page_06{  /*Page번호*/
	font-size:12px;
	color:#fff;
	width:80px;
	padding-top:10px;
	height:50px;
	text-align:center;
}




















