@import url(common.css);
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import url('https://fonts.googleapis.com/css2?family=Sarala:wght@400;700&display=swap');



#wrap{
  width: 100%;
  max-width:1200px;
  margin: 0 auto 30px;
  padding: 0 1% 0 1%;
  background-color: rgb(243, 243, 243);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
  font-weight: 500;
  color:rgb(76, 76, 76);
}










/* -----------------------------------
                  header
------------------------------------- */


.top{
  width: 100%;
  max-width:1200px;
  height: 70px;
  margin:40px auto 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(55, 107, 175); */
}

.top .mainLogo{
  width:100px;
  height: 50px;
}

.top .mainMenu ul{
  width: 500px;
  height: 50px;
  /* background-color: yellowgreen; */
  display: flex;
  justify-content: space-between;
  align-items:center;
}

.top .mainMenu ul li{
  padding-right: 10px;
  font-family: 'Sarala', sans-serif;
  font-weight: bold;
  font-size: 16px;
  transition: all 0.3s;
}

.top .mainMenu ul li:hover{
  color: crimson;
  font-weight: bold;
}


#tab_top{display: none;}
#mob_top{display: none;}


.mainVisual{
  width: 1200px;
  margin: 0 auto;
}

.pc_mainVisual{
  width:100%;
  height: 500px;
  background:url(../image/visual_pc.png);
}



/* -----------------------------------
                  content
------------------------------------- */

.trend_row1{
  width: 100%;
  max-width:1200px;
  margin: 20px auto;
  display: flex;
  
}

.trend_row1 .trend{
  width:23.5%;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  filter:;
}

.trend1{background-color: #FAD0C9;}
.trend2{background-color: #FFD662;}
.trend3{background-color: #00B1D2;}
.trend4{background-color: #E2D3F3;}


/* 베이지색상톤 
.trend1{background-color: #F4DFD0;}
.trend2{background-color: #DAD0C2;}
.trend3{background-color: #CDBBA7;}
.trend4{background-color: #dfcfbc;}
 */
.trend_row1 .trend:not(:last-child){
  margin-right: 2%;
}


.trendImage{
  width: 80%;
}
.trendImage img{width: 100%; transition: all 0.2s;}
.trendImage img:hover{transform: scale(1.03);}

.trendTitle{
  font-weight: 500;
  font-size: 2.2vh;
  font-weight: bold;
}

.trendText{
  padding: 15px;
}







.trend_row2{
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
  display: flex;
}

.miniImg{
  width: 20%;
  height: 100%;
  background-color: rgb(110, 209, 28);
  margin-right: 2%;
}

.userBoard1{
  width: 38%;
  height: 100%;
  background:url(../image/postit1.png) no-repeat center center;
  margin-right: 2%;

  display: flex;
  flex-direction: column;
}




.board1_1, .board2_1{
  color:#000;
  font-size: 20px;
  font-weight: bold;
  margin: 20px 20px 5px 20px;
}

.board1_2, .board2_2{
  margin: 0 20px;
}

.board1_2 ul li{
  width: 100%;
  margin: 15px 0px;
  padding-bottom: 4px;
  border-bottom:1px solid #7d91b3;
  cursor: pointer;
}

.board1_2 ul li span{
  text-indent: 8px;
}

.board1_2 ul li .mark{
  width: fit-content;
  height: fit-content;
  transition: all 2s;
}

.board1_2 ul li:hover .mark{
  background:url(../image/mark.png) no-repeat center center;
  background-size: cover;
}










.userBoard2{
  width: 38%;
  height: 100%;
  background:url(../image/postit2.png) no-repeat center center;
  display: flex;
  flex-direction: column;
}

.board2_2 ul li{
  width: 100%;
  margin: 15px 0px;
  padding-bottom: 4px;
  border-bottom:1px solid #f2edd7;
  cursor: pointer;
}

.board2_2 ul li span{
  text-indent: 8px;
}

.board2_2 ul li .mark2{
  width: fit-content;
  height: fit-content;
  transition: all 2s;
}

.board2_2 ul li:hover .mark2{
  background:url(../image/mark2.png) no-repeat center center;
  background-size: cover;
}













.trend_row3{
  width: 100%;
  height: 300px;
  display: flex;
  margin-bottom: 20px;
}

.keyword{
  width: 38%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(153, 144, 236);
  margin-right: 2%;
  
}

.gallery{
  width: 60%;
  height: 100%;
  box-sizing: border-box;
  background-color: rgb(255, 194, 125);
}



/* -----------------------------------
                  footer
------------------------------------- */

footer{
  width: 100%;
  max-width:1200px;
}

address{
  width: 100%;
  height: 120px;
  background-color: rgb(249, 255, 159);
}